.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #23cf5f;
}

.login > img {
  width: 100%;
  max-width: 50vw;
  max-height: 40vh;
  object-fit: contain;
}

.login > a {
  padding: 20px;
  border-radius: 99px;
  background-color: black;
  font-weight: 800;
  color: blanchedalmond;
  text-decoration: none;
}
