.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #282828;
  padding: 20px 0;
}

.footer__left {
  min-width: 40px;
  margin-left:10px;
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__green {
  color: #1ed15e;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}
.footer__songInfo > p {
  font-size: 12px;
}

.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  min-width: 100px;
}

.footer__icon:hover,
footer__green:hover {
  transform: scale(1.2) !important;
  transition: transform 0.2s ease-in-out;
}

.footer__right {
  min-width: 80px;
  margin-right:10px;
  flex: 0.3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__right * .MuiGrid-grid-xs-true {
  max-width: 40% !important;
}

.footer__right * .MuiSlider-root {
  color: #1ed15e;
  max-width: 300px;
  height: 0 !important;
  padding: 6px 0 !important;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
     padding: 0px !important; 
}
